{
  "presets": [
    "next/babel",
    [
      "@babel/preset-env",
      { "targets": { "node": "current" }, "modules": "auto" },
    ]
  ],
  "plugins": [
    [
      "styled-components",
      { "ssr": true, "displayName": true, "preprocess": false }
    ]
  ]
}